.footer{
    width: 100%;
    background: #245852;
    display: flex;
    &__container{
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
        
        &__content{
            font-size: 18px;
        }

    }

    @media (max-width:452px) {
        &__content{
            font-size: 12px;
        }
       
    }

}